<a href="https://colab.research.google.com/github/irahanjose/Aprendizaje-de-M-quina-con-Python/blob/main/04_IntroPandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lo esencial de Pandas para Deep Learning

In [ ]:
import pandas as pd

## 1. Lectura y visualización inicial

In [ ]:
# Configuración Google Drive

In [ ]:
from google.colab import drive
drive.mount('/gdrive')

Mounted at /gdrive

In [ ]:
# Lectura del set
ruta = '/gdrive/MyDrive/Colab Notebooks/01_2021-07-FundamentosDL/0.9-0.12/data/world-happiness-report-2021.csv'
data = pd.read_csv(ruta) # Dataframe

In [ ]:
data.head(10)  # Mostrar las 10 primeras filas del dataset

  Country name  ... Dystopia + residual
0      Finland  ...               3.253
1      Denmark  ...               2.868
2  Switzerland  ...               2.839
3      Iceland  ...               2.967
4  Netherlands  ...               2.798
5       Norway  ...               2.580
6       Sweden  ...               2.683
7   Luxembourg  ...               2.653
8  New Zealand  ...               2.612
9      Austria  ...               2.784

[10 rows x 20 columns]

In [ ]:
data.shape #Tamaño del dataset (filas x columnas)

(149, 20)

## 2. Manipulación e Indexación de DataFrames

In [ ]:
# Nombres de las columnas
data.columns

Index(['Country name', 'Regional indicator', 'Ladder score',
       'Standard error of ladder score', 'upperwhisker', 'lowerwhisker',
       'Logged GDP per capita', 'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption', 'Ladder score in Dystopia',
       'Explained by: Log GDP per capita', 'Explained by: Social support',
       'Explained by: Healthy life expectancy',
       'Explained by: Freedom to make life choices',
       'Explained by: Generosity', 'Explained by: Perceptions of corruption',
       'Dystopia + residual'],
      dtype='object')

In [ ]:
data['Country name'] # Acceder a una columna en particular: data['Nombre columna']

0          Finland
1          Denmark
2      Switzerland
3          Iceland
4      Netherlands
          ...
144        Lesotho
145       Botswana
146         Rwanda
147       Zimbabwe
148    Afghanistan
Name: Country name, Length: 149, dtype: object

In [ ]:
# Indexación basada en índice: extraer la fila con índice 144 (Lesotho)
data.iloc[144]

Country name                                             Lesotho
Regional indicator                            Sub-Saharan Africa
Ladder score                                               3.512
Standard error of ladder score                              0.12
upperwhisker                                               3.748
lowerwhisker                                               3.276
Logged GDP per capita                                      7.926
Social support                                             0.787
Healthy life expectancy                                     48.7
Freedom to make life choices                               0.715
Generosity                                                -0.131
Perceptions of corruption                                  0.915
Ladder score in Dystopia                                    2.43
Explained by: Log GDP per capita                           0.451
Explained by: Social support                               0.731
Explained by: Healthy life expectancy                      0.007
Explained by: Freedom to make life choices                 0.405
Explained by: Generosity                                   0.103
Explained by: Perceptions of corruption                    0.015
Dystopia + residual                                          1.8
Name: 144, dtype: object

In [ ]:
# Y tomar la columna "Generosity"
data.iloc[144]['Generosity']

-0.131

In [ ]:
# O tomar los tres primeros países del listado y las 5 primeras columnas
nuevo_dataset = data.iloc[0:3,0:5]

In [ ]:
nuevo_dataset.shape

(3, 5)

In [ ]:
nuevo_dataset

  Country name Regional indicator  ...  Standard error of ladder score  upperwhisker
0      Finland     Western Europe  ...                           0.032         7.904
1      Denmark     Western Europe  ...                           0.035         7.687
2  Switzerland     Western Europe  ...                           0.036         7.643

[3 rows x 5 columns]